.leaflet-container {
  height: 600px;
  width: 100%;
  margin: 0 auto;
}

.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  font-weight: bold;
  color: black;
  border: 2px solid black;
  background-color: transparent;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.small-ghost-button {
  display: inline-block;
  width: 100px;
  padding: 4px;
  font-weight: bold;
  color: black;
  border: 2px solid black;
  background-color: transparent;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.send-ghost-button {
  display: inline-block;
  float: right;
  width: 100px;
  height: 100%;
  padding: 4px;
  font-weight: bold;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.ghost-button:hover,
.small-ghost-button:hover,
.send-ghost-button:hover,
.ghost-button:active,
.small-ghost-button:active,
.send-ghost-button:active {
  background-color: black;
  border: 2px solid black;
  color: ghostwhite;
}

tr:nth-child(even) {background-color: #f2f2f2}
td, th {
    text-align: center;
    padding: 8px;
}

.chat-log {
  padding: 10px;
  border:1px solid #ccc;
  border-radius: 5px;
  overflow-y:scroll;
  height:400px;
  background-color:#F7F7F7;
}

.chat-active {
  background-color:#4aa3df;
  border-radius: 5px;
  padding-left: 5px;
  color: ghostwhite;
}

.chat-inactive{
  font-weight: bold;
}

.chat-user {
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}

.chat-message {
  border:1px solid #ccc;
  border-radius: 5px;
  background-color: #9AD0F5;
}

.chat-message-other {
  border:1px solid #ccc;
  border-radius: 5px;
  background-color: #3498db;
}
.chat-message-text {
  padding-left: 50px;
  padding-bottom: 10px;
}

.sparrow-form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 8px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  /*border-radius: 4px;*/
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.sparrow-form-control:focus {
  border-color: black;
  outline: 0;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px black;*/
          /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px black;*/
}
#mapid {
  height: 180px;
}
